*{
  margin: 0;
  padding:0;
}
.abc{
background: linear-gradient(0.25turn, #FF9270, #ffffff, #6C96FF);
  
}
.abox img{
  width:100px;
  height:50px;
  margin-left: 30px;
}
.bbox img{
  width:48vw;
  height:160vh;
  
  margin-top: -52px;
  
}
h2{
  margin-top: 35px;
}
h5{
  margin-top: 35px;
}
.btn1{
  background-color:blue;
  width:20%;
  height:10vh;
  color: white;
  font-weight:700;
  margin-top: 40px;
  text-decoration: none;
}
.abox .pic1{
  position: relative;
  top:30%;
}
 .abox .pic2{
  position: relative;
  left:3%;
  
} 
.abox .pic4{
  position: relative;
  left:17%;
  top:-15%;
  z-index: 1;
  width: 6vw;
}
.abox .pic3{
  position: relative;
 top:-10%;
 bottom:30%;
  z-index: 1;
  width: 6vw;
}
.abc2{
  background-color: black;
}
.cont{
  background-color: azure;
  height:100vh;
  width: 80%;
  border:2px solid blue;
  border-radius: 3%;
  
}
.box{
  width: 90%;
  height:6vh;
  margin-left: 2%;
}
.btn2{
  width: 90%;
  height:6vh;
  background-color: blue;
  margin-top: 30px;
  color: white;
  font-weight: 500;
  margin-left: 2%;
}
h5{
  margin-left: 2%;
}
.cbox{
  color: white;
}
.cbox h1{
  position: relative;
  
}
p{
  font-size: 7vh;
  position: relative;
  left:30%;
  bottom:-30%;
}
@media (max-width:450px){
  /* .bbox img{
    position:relative;
    left:30%;
    width:100%;
  } */
  .abox .pic1{
    display: none;
  }
  .abox .pic2{
    display: none;
  }
  .abox .pic3{
    display: none;
  }
  .abox .pic4{
    display: none;
  }
  .btn1{
    position: relative;
    top:-21%;
    width:40%;
  }
  .cont{
    height:110vh;
  }
  .cbox p{
    position: relative;
    left:5%;
    font-size: 5vh;
  }
}
@media (max-width:768px){
  /* .bbox img{
    position:relative;
    left:30%;
    width:100%;
  } */
  .abox .pic1{
    display: none;
  }
  .abox .pic2{
    display: none;
  }
  .abox .pic3{
    display: none;
  }
  .abox .pic4{
    display: none;
  }
  .btn1{
     position: relative;
    top:-21%;
    width:40%; 
    margin-top: 91px;
    
  }
  .cont{
    height:110vh;
  }
  .cbox p{
    position: relative;
    left:5%;
    font-size: 5vh;
  }
}
@media (max-width:990px){
  /* .bbox img{
    position:relative;
   left:25%;
  } */
  .abox .pic1{
    display: none;
  }
  .abox .pic2{
    display: none;
  }
  .abox .pic3{
    display: none;
  }
  .abox .pic4{
    display: none;
  }
  .btn1{
    position: relative;
    top:-11%;
    width:40%;
    margin-top:91px;
  }
  .cont{
    height:110vh;
  }
  .cbox p{
    position: relative;
    left:5%;
    font-size: 5vh;
  }
}